<app-header></app-header>

<div class="fieldset_wrapper">
  <div class="pageheading" style="margin-bottom: 15px;"> Change Password</div>

  <div class="updateprofile_formwrapper">

    <form role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
      <div class="has-error" *ngIf="is_error">{{is_error}}</div>
      <div class="col-xs-12 form-group">
        <label>Old Password</label>
        <input type="text" class="form-control" placeholder="Old Password" [formControl]="dataForm.controls['oldpassword']">
        <span *ngIf ="dataForm.controls['oldpassword'].touched && !dataForm.controls['oldpassword'].valid">Password is Required !</span>
      </div>
      <div class="col-xs-12 form-group">
        <label>New Password</label>
        <input type="text" class="form-control" placeholder="New Password" [formControl]="dataForm.controls['password']">
        <span class="has-error" *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid">Minimum length for password is 8!</span>
      </div>


      <label>Confirm Password</label>
      <input type="password" class="form-control" placeholder="Confirm Password"  [formControl]="dataForm.controls['confpassword']">
      <span class="has-error" *ngIf ="dataForm.controls['confpassword'].touched && !dataForm.controls['confpassword'].valid">Please fill in the required field.</span>
      <div class="has-error" *ngIf ="dataForm.hasError('mismatchedPasswords') && dataForm.controls['confpassword'].valid ">
        <strong>Passwords must match</strong>
      </div>

      <input type="submit" value="Update" class="loginbtn2">
    </form>


  </div>

</div>
