<app-header></app-header>
<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
  <div class="dashboard_right_wrapper">
    <div class="dashboard1_div1 ">
      <h4> Edit Adbanner</h4>
      <div class="dashboard1form">

        <form role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">

          <label>Adbanner Name</label>
          <input type="text" class="form-control" placeholder="Adbanner Name" [formControl]="dataForm.controls['adbannername']">
          <span class="has-error" *ngIf ="dataForm.controls['adbannername'].touched && !dataForm.controls['adbannername'].valid">First Name is Required !</span>


          <label>Adbanner Height-Width</label>
          <select name="your-list"  [formControl]="dataForm.controls['height_width']" (change)="adbannerheightwidth()">
            <option value="">Select Height-Width</option>
            <option value="1">320 x 50 (MMA XXLarge)</option>
            <option value="2">300 x 50 (MMA XLarge)</option>
            <option value="3">216 x 36 (MMA Large)</option>
            <option value="4">168 x 28 (MMA Medium)</option>
            <option value="5">120 x 20 (MMA Small)</option>
          </select>
          <span class="has-error" *ngIf ="dataForm.controls['height_width'].touched && !dataForm.controls['height_width'].valid">Adbanner Height Width is Required !</span>


          <div *ngIf="showdivforimageupload">
            <label>Adbanner Upload</label>
            <input type="hidden" class="form-control" [formControl]="dataForm.controls['image']">
            <div class="col-md-12">
              <div class="browsefileblock">
                <input type="file" accept="image/*" ngFileSelect [options]="basicOptions" (onUpload)="handleUpload($event)">
                <div *ngIf="progress && imgsizeerror==null">
                  Uploading: {{ progress }}%
                </div>
                <div *ngIf="uploadedfilesrc && imgsizeerror==null" class="browsefileblockimg" >
                  <img src="{{uploadedfilesrc}}" >
               <!--   <input type="button" value="Delete" (click)="deleteimage(imagename)">-->
                </div>
              </div>
            </div>
            <span class="has-error"  *ngIf="imgsizeerror">{{imgsizeerror}}</span>
          </div>


          <label>Priority</label>
          <input type="text" class="form-control" placeholder="Priority" [formControl]="dataForm.controls['priority']">
          <span class="has-error" *ngIf ="dataForm.controls['priority'].touched && !dataForm.controls['priority'].valid">Priority is Required !</span>
          <input type="checkbox" [formControl]="dataForm.controls['status']"><span class="wpcf7-list-item-label">Check the box to Make Active.</span>
          <br><input type="submit" value="Save" class="loginbtn2">
        </form>
      </div>
    </div>
  </div>
</div>
