<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Untitled Document</title>
  <link href="../../assets/order.css" type="text/css" rel="stylesheet" media="all" />
  <link href="../../assets/order1.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body>-->

<div class="content" id="basic_information">

  <div class="top_banner_body">
    <div class="top_banner_wrapper">
      <img src="../../assets/images/geoai_logo.jpg"  class="geoai_logo"/>
      <img src="../../assets/images/geoai_top_banner.jpg" class="geoai_top_banner" />

      <a href="#" class="top_bannerbtn">Ad Marketing Pros</a>


      <div class="clearfix"></div>
    </div>
  </div>

  <div class="fieldset_wrapper">

    <fieldset>
      <div class="pageheading">Create a Campaign</div>

      <ul class='nav nav-wizard campaignmenu'>

        <li><a ><span>1</span> Campaign Settings </a></li>

        <li class='active'><a><span>2</span>  Create Audience</a></li>

        <li><a><span>3</span>  Creatives </a></li>
        <li><a><span>4</span>  Summary and Launch </a></li>
        <div class="clearfix"></div>

      </ul>

    </fieldset>

    <fieldset>

      <div class="campaign_settings_wrapper">


        <div class="campaign_settings_box1">
          <label>Name</label>
          <input type="text"  placeholder="My best campaign yet!(8) " value="{{newcreatedcampaignname}}"/>

        </div>

        <div class="campaign_settings_box2">



          <div class="campaign_settings_cell">

            <div class="campaign_settings_cell_top">

              <label>campaign Type <span>unsaved</span></label>
              <b>Geo Optimized</b>
              <div class="clearfix"></div>
            </div>





          </div>

          <div class="campaign_settings_cell">

            <div class="campaign_settings_cell_top">

              <label>Flight </label>
              <b>May 30, 2017</b>
              <div class="clearfix"></div>
            </div>

            <div style="display:inline-block; min-height:290px;">
              <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
            </div>




          </div>



          <div class="campaign_settings_cell">

            <div class="campaign_settings_cell_top">

              <label>Budget </label>
              <b>None</b>
              <div class="clearfix"></div>
            </div>





          </div>

          <div class="campaign_settings_cell">

            <div class="campaign_settings_cell_top">

              <label>Capping </label>
              <b>None</b>
              <div class="clearfix"></div>
            </div>







          </div>

          <div class="campaign_settings_cell">

            <div class="campaign_settings_cell_top">

              <label>Conversions </label>
              <b>None</b>
              <div class="clearfix"></div>
            </div>







          </div>


          <div class="campaign_settings_cell">

            <div class="campaign_settings_cell_top">

              <label>Goals </label>
              <b>Off</b>
              <div class="clearfix"></div>
            </div>







          </div>


          <div class="campaign_settings_cell">

            <div class="campaign_settings_cell_top">

              <label>OBA Compliance </label>
              <b>None</b>
              <div class="clearfix"></div>
            </div>







          </div>

          <div class="campaign_settings_cell">

            <div class="campaign_settings_cell_top">

              <label>Retail Markup </label>
              <b>None</b>
              <div class="clearfix"></div>
            </div>







          </div>





          <a href="javascript:void(0)"  class="createaudience_link">Create Audience &#9658;</a>

          <div class="clearfix"></div>


        </div>



      </div>

    </fieldset>



  </div>
</div>
<!--
</body>
</html>-->
