<div class="content" id="basic_information">

  <div class="top_banner_body">
    <div class="top_banner_wrapper">
      <img src="images/geoai_logo.jpg"  class="geoai_logo"/>
      <img src="images/geoai_top_banner.jpg" class="geoai_top_banner" />

      <a href="#" class="top_bannerbtn">Ad Marketing Pros</a>


      <div class="clearfix"></div>
    </div>
  </div>

  <div class="fieldset_wrapper">

    <fieldset>
      <div class="pageheading">Create a Campaign</div>

      <ul class='nav nav-wizard campaignmenu'>

        <li><a ><span>1</span> Campaign Settings </a></li>

        <li class='active'><a><span>2</span>  Create Audience</a></li>

        <li><a><span>3</span>  Creatives </a></li>
        <li><a><span>4</span>  Summary and Launch </a></li>
        <div class="clearfix"></div>

      </ul>

    </fieldset>

    <fieldset>

      <div class="campaign_settings_wrapper">


        <div class="campaign_settings_box1">
          <label>My best campaign yet!(8) </label>
        </div>

        <div class="campaign_settings_box3">






          <div class="campaign_settings_cell">

            <div class="campaign_settings_cell_top">

              <label>Create Audience </label>
              <b>Choose your options</b>
              <div class="clearfix"></div>
            </div>



            <div class="create_audience_wrapper">

              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="activetd"><img src="assets/images/create_audience_icon1.png"  alt="#"/>
                    <h1>Browser</h1>
                  </td>
                  <td><img src="assets/images/create_audience_icon2.png"  alt="#"/>
                    <h1>Dayparting</h1>
                  </td>
                  <td><img src="assets/images/create_audience_icon3.png"  alt="#"/>
                    <h1>Deals</h1>
                  </td>
                  <td><img src="assets/images/create_audience_icon4.png"  alt="#"/>
                    <h1>Device Types</h1>
                  </td>
                  <td><img src="assets/images/create_audience_icon5.png"  alt="#"/>
                    <h1>Locations</h1>
                  </td>
                </tr>
                <tr>
                  <td><img src="assets/images/create_audience_icon6.png"  alt="#"/>
                    <h1>Operating Systems</h1>
                  </td>
                  <td><img src="assets/images/create_audience_icon7.png"  alt="#"/>
                    <h1>Pacing</h1>
                  </td>
                  <td><img src="assets/images/create_audience_icon8.png"  alt="#"/>
                    <h1>Third party Segments</h1>
                  </td>
                  <td><img src="assets/images/create_audience_icon9.png"  alt="#"/>
                    <h1>Viewability</h1>
                  </td>
                  <td><img src="assets/images/create_audience_icon10.png"  alt="#"/>
                    <h1>Website Filtering</h1>
                  </td>

                </tr>
              </table>



            </div>





          </div>


          <div class="campaign_settings_cell">

            <div class="campaign_settings_cell_top">

              <label>Browser</label>
              <b>1 Browser <img src="assets/images/create_audience_close.png"  alt="#"/></b>
              <div class="clearfix"></div>
            </div>







          </div>

          <div class="campaign_settings_cell">

            <div class="campaign_settings_cell_top">

              <label>Location </label>
              <b>1 Geo Fence</b>
              <div class="clearfix"></div>
            </div>







          </div>




          <a href="javascript:void(0)"  class="createaudience_link" style="float:left;"> &#9668; Campaign Settings </a>

          <a href="javascript:void(0)"  class="createaudience_link">Creatives &#9658;</a>

          <div class="clearfix"></div>


        </div>



      </div>

    </fieldset>



  </div>
</div>
