<app-header></app-header>


<div class=" fieldset_wrapper">

    <div class="searchdiv">
        <label>Search :</label>
        <input type="text" #listFilter (keyup)="0">
        <div class="clearfix"></div>
    </div>


    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="campaignlisttable">
        <tr>
            <th>ID<b [ngClass]="getSortClass('id')" (click)="manageSorting('id')" ></b></th>
            <th>Name<b [ngClass]="getSortClass('name')" (click)="manageSorting('name')" ></b></th>
            <th>Action</th>

        </tr>

        <tbody *ngFor="let item of datalist | orderBy:orderbyquery:orderbytype | usersearch:listFilter.value; let i = index">
        <tr *ngIf=" i>=pagestart && i < pageinitation">
            <td>{{item.id}}</td>
            <td>{{item.name}} </td>
            <td (click)="calledit(item.id)">Edit</td>
        </tr>
        </tbody>
    </table>

    <div class="pagination paginationdiv">
        <ul class="pagination--items">
            <li class="pagination--item">
                <label>
                    Go to: </label>
                <input type="text" [(ngModel)]="pageno" (blur)="pageval(3)">
                <div class="clearfix"></div>

            </li>
            <li class="pagination--item">
                <label>
                    Show rows:</label>
                <select [(ngModel)]="showrows" (click)="chagevalues()">
                    <option>5</option>
                    <option>10</option>
                    <option>25</option>
                </select>
                <div class="clearfix"></div>

            </li>
            <li class="pagination--item" >  <label>Page {{pageno}} of {{totalpage}}</label></li>
            <li class="pagination--item" >
                <img src="../../assets/images/pageprev.png" alt="#" (click)="pageval(1)">

                <img src="../../assets/images/pagenext.png" alt="#" (click)="pageval(2)">
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
