<!--
<div class="signup_middle_right">
  <div class="signupbox_formwrapper">
    <div class="wpcf7-not-valid-tip" *ngIf="is_error">{{is_error}}</div>
    <form name="dataForm" method="post" action="login" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
      <h3>Recover Profile</h3>
      <div class="row">
        <div class="col-xs-12 form-group" id="email_contain">
          <strong>Your email address</strong>
          <input type="email" name="email_address" id="email_address" class="signup_box_input" value="" placeholder="Email - ID" [formControl]="dataForm.controls['email']">
          <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['email'].touched && getemail('blank')==true">Email is Required !</span>
          <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['email'].touched && getemail('invalid')==true">Email is not valid!</span>
        </div>
        <input type="submit" value="Go" class="loginbtn2">
      </div>
    </form>
  </div>
</div>

-->



<div id="login_box" class="login_box_wrapper">
  <a href="/"><img src="../../assets/images/geai_logo.png" class="geai_logo"></a>
  <div class="relay_msg"></div>
  <div class="loginbox_formwrapper">
     <h4>Recover your profile</h4>
    <form name="frmLogin" method="post" action="login" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
      <div class="wpcf7-not-valid-tip" *ngIf="is_error">{{is_error}}</div>
      <div class="row">
        <div class="col-xs-12 form-group" id="username_contain">
          <input type="text" name="email_address" id="email_address" class="login_box_input" maxlength="255" value="" placeholder="Email" [formControl]="dataForm.controls['email']">
          <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['email'].touched && getemail('blank')==true">Email is Required !</span>
          <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['email'].touched && getemail('invalid')==true">Email is not valid!</span>
        </div>
        <div id="controls_area" class="col-xs-12 form-group2">
          <div id="submit_box" class="col-xs-4 login_bottomwrapper">
            <input type="submit" value="Submit" id="login_button">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>



