<div class="content" id="confirmation">
  <fieldset>
    <div>
      <div>
        <h1>
          Thank you for your campaign order!
        </h1>
        <h3 style="margin-bottom:-1em;">
          The Simpli.fi Client Service team has received your information and will begin processing your build shortly.
        </h3>
        <p>
          If you have any questions or concerns about your order submission, please contact your Simpli.fi Client Services Account Manager.
        </p>
        <div class="well" style="padding:3em 1em; background:#eee; margin-top:2em; border-radius:3px;">
          <strong>
            We love your feedback!
            <a href="mailto:liz@simpli.fi">Send us a message</a>
            about your campaign submission experience.
          </strong>
        </div>
      </div>
    </div>
  </fieldset>
</div>