<div class="top_banner_body">
  <div class="top_banner_wrapper">
    <img src="/assets/images/geoai_logo.jpg"  class="geoai_logo"/>
    <img src="/assets/images/geoai_top_banner.jpg" class="geoai_top_banner" />

    <a href="#" class="top_bannerbtn">Ad Marketing Pros</a>


    <div class="clearfix"></div>
  </div>
</div>
<div class="fieldset_wrapper">

  <div class="pageheading">Order Form</div>

  <ul class='nav nav-wizard'>

    <li ><a><span>1</span> Simple Solutions </a></li>

    <li ><a><span>2</span>  Basic Information </a></li>

    <li class='active'><a><span>3</span>  Confirmation </a></li>
    <div class="clearfix"></div>

  </ul>
<div class="content" id="confirmation">
  <fieldset>
  <div class="thankyou_page_wrapper">


        <h1>
          Thank you for your campaign order!
        </h1>
        <h3>
          The Simpli.fi Client Service team has received your information and will begin processing your build shortly.
        </h3>
        <p>
          If you have any questions or concerns about your order submission, please contact your Simpli.fi Client Services Account Manager.
        </p>

        <div class="well">
          <strong>
            We love your feedback!
            <a href="mailto:ipsita.influxiq@gmail.com">Send us a message</a>
            about your campaign submission experience.
          </strong>
        </div>

  </div>

  </fieldset>
</div>

</div>