
<div id="signup_box" class="signup_box_wrapper">
  <div class="signup_top">
    <div class="signup_top_inner">
      <div class="geai_signup_logo_wrapper">
        <a href="/"><img src="../../assets/images/geai_signup_logo.png" class="geai_signup_logo"></a>
      </div>
      <div class="signuptopbutton">
        <button type="button" routerLink="/login" class="bluebutton">Sign in</button>
      </div>
    </div>

  </div>
  <div class="signup_middle">
    <h3>Create your geo ai Account</h3>
    <div class="signup_middle_inner">
      <div class="signup_middle_left">
        <h4>Take it all with you</h4>
        <h5>Switch between devices, and pick up wherever you left off.</h5>
        <div class="signup_middle_left_imgwrapper">
          <img src="../../assets/images/signup_middle_left_img.png" class="signup_middle_left_img">
        </div>
      </div>
      <div class="signup_middle_right">
        <div class="signupbox_formwrapper">
          <!-- <h4>Login to your account</h4>-->
          <div class="wpcf7-not-valid-tip" *ngIf="is_error">{{is_error}}</div>
          <form name="dataForm" method="post" action="login" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
            <div class="row">
              <div class="col-xs-12 form-group" id="username_contain">
                <strong>Name</strong>


                <input type="text" name="first_name" id="first_name" class="signup_box_input" value="" placeholder="First Name" [formControl]="dataForm.controls['firstname']">
                <span *ngIf ="dataForm.controls['firstname'].touched && !dataForm.controls['firstname'].valid" class="wpcf7-not-valid-tip">First Name field can not be blank!</span>


                <input type="text" name="last_name" id="last_name" class="signup_box_input" value="" placeholder="Last Name" [formControl]="dataForm.controls['lastname']">
                <span *ngIf="dataForm.controls['lastname'].touched && !dataForm.controls['lastname'].valid" class="wpcf7-not-valid-tip">Last Name field can not be blank!</span>


              </div>


              <div class="col-xs-12 form-group" id="email_contain">
                <strong>Your email address</strong>
                <input type="email" name="email_address" id="email_address" class="signup_box_input" value="" placeholder="Email - ID" [formControl]="dataForm.controls['email']">
                <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['email'].touched && getemail('blank')==true">Email is Required !</span>
                <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['email'].touched && getemail('invalid')==true">Email is not valid!</span>
              </div>



              <div class="col-xs-12 form-group" id="password_contain">
                <strong>Create a password</strong>
                <input type="password" name="password" id="password" class="signup_box_input" value="" placeholder="Password" [formControl]="dataForm.controls['password']">
                <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid">Minimum length for password is 8!</span>
              </div>



              <div class="col-xs-12 form-group" id="confirm_password_contain">
                <strong>Create a password</strong>
                <input type="password" name="confirm_password" id="confirm_password" class="signup_box_input" value="" placeholder="Confirm Password" [formControl]="dataForm.controls['confirmpassword']">
                <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['confirmpassword'].touched && !dataForm.controls['confirmpassword'].valid">Please fill in the required field.</span>
                <div class="wpcf7-not-valid-tip" *ngIf ="dataForm.hasError('mismatchedPasswords') && dataForm.controls['confirmpassword'].valid "><strong>Passwords must match</strong>
                </div>
              </div>



              <div class="col-xs-12 form-group" id="birthday_contain">
                <strong>Birthday</strong>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tripplecolumn_left">
                    <select id="showmonth" class="chkselect_input"  [formControl]="dataForm.controls['month']">
                      <option value="">Select Month</option>
                      <option *ngFor="let item of months" value="{{item}}">{{item}}</option>
                    </select>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 tripplecolumn_middle">
                    <input type="text" name="calender_day" id="calender_day" class="signup_box_input" value="" placeholder="Day"  [formControl]="dataForm.controls['day']"  appOnlyNumber="true" maxlength="2" >
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 tripplecolumn_right">
                    <input type="text" name="calender_year" id="calender_year" class="signup_box_input" value="" placeholder="year"  [formControl]="dataForm.controls['year']"  appOnlyNumber="true" maxlength="4">
                  </div>
                </div>
              </div>

              <div class="col-xs-12 form-group" id="phone_contain">
                <strong>Mobile phone</strong>
                <input type="text" name="phone_number" id="phone_number" class="signup_box_input" value="" placeholder="Mobile Number" [formControl]="dataForm.controls['phone']">
              </div>

              <div class="col-xs-12 form-group" id="location_contain">
                <strong>location</strong>
                <input type="text" name="location" id="location" class="signup_box_input" value="" placeholder="Location" [formControl]="dataForm.controls['location']">
                <!--<select id="showlocation" class="chkselect_input" [formControl]="dataForm.controls['location']">
                  <option value="1">Select Location</option>
                  <option value="2">USA</option>
                  <option value="3">INDIA</option>
                </select>-->
              </div>



              <div class="col-xs-12 form-group" id="state_contain">
                <strong>State</strong>
                <select name="your-state" id="showlocation" class="chkselect_input" [formControl]="dataForm.controls['state']" >
                  <option value="">Select State</option>
                  <option *ngFor="let item of state" value="{{item}}">{{item}}</option>
                </select>
              </div>




              <div id="controls_area" class="col-xs-12 form-group2">
                <div class="col-xs-4 signup_bottomwrapper">
                  <input type="submit" value="Next step" id="signup_button" class="bluebutton">
                </div>
              </div>
            </div>
          </form>
        </div>
        <h5><span>Learn more</span> about why we ask for this information.</h5>
      </div>
    </div>

  </div>
  <div class="signup_bottom">
  </div>
</div>

