<!--<div class="fieldset_wrapper">
  <div class="pageheading" style="margin-bottom: 15px;"> New Password</div>
  <div class="updateprofile_formwrapper">
    <form role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
      <div class="has-error" *ngIf="is_error">{{is_error}}</div>
      <div class="col-xs-12 form-group">
        <label>New Password</label>
        <input type="password" class="form-control" placeholder="New Password" [formControl]="dataForm.controls['password']">
        <span class="has-error" *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid">Minimum length for password is 8!</span>
      </div>
      <label>Confirm Password</label>
      <input type="password" class="form-control" placeholder="Confirm Password"  [formControl]="dataForm.controls['confpassword']">
      <span class="has-error" *ngIf ="dataForm.controls['confpassword'].touched && !dataForm.controls['confpassword'].valid">Please fill in the required field.</span>
      <div class="has-error" *ngIf ="dataForm.hasError('mismatchedPasswords') && dataForm.controls['confpassword'].valid ">
        <strong>Passwords must match</strong>
      </div>
      <input type="submit" value="Update" class="loginbtn2">
    </form>
  </div>
</div>-->






<div id="login_box" class="login_box_wrapper">
  <a href="/"><img src="../../assets/images/geai_logo.png" class="geai_logo"></a>
  <div class="relay_msg"></div>
  <div class="loginbox_formwrapper">
     <h4> New Password </h4>
    <form name="frmLogin" method="post" action="login" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
      <div class="wpcf7-not-valid-tip" *ngIf="is_error">{{is_error}}</div>
      <div class="row">
        <div class="col-xs-12 form-group" id="password_contain">
          <input type="password" name="password" id="password" class="login_box_input" maxlength="255" value="" placeholder="Password" [formControl]="dataForm.controls['password']">
          <!--<span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid">Please fill in the required field.</span>-->
          <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid">Minimum length for password is 8!</span>
        </div>

        <div class="col-xs-12 form-group" id="password_contain1">
          <input type="password" name="password" id="password1" class="login_box_input" maxlength="255" value="" placeholder="Confirm Password" [formControl]="dataForm.controls['confpassword']">
          <!--<span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid">Please fill in the required field.</span>-->
          <span class="has-error" *ngIf ="dataForm.controls['confpassword'].touched && !dataForm.controls['confpassword'].valid">Please fill in the required field.</span>
          <span class="has-error" *ngIf ="dataForm.hasError('mismatchedPasswords') && dataForm.controls['confpassword'].valid ">Passwords must match</span>
        </div>
        <div id="controls_area" class="col-xs-12 form-group2">
          <div id="submit_box" class="col-xs-4 login_bottomwrapper">
            <input type="submit" value="change password" id="login_button">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>