<!------HEADER SECTION--->

<header class="headerdiv">
  <div class="headerlogodiv">
    <div class="logowrapper">
      <a [routerLink]="['/']"><img src="../../assets/images/geoaiadmin_logo.png"></a>
    </div>
  </div>
  <div class="container-fluid menublock">
    <div class="menudiv">
      <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <span class="responsivemenu">MENU</span>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <div class="clearfix"></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="javascript:void(0)" target="_blank" data-toggle="modal" data-target="#comingsoon">Mission control</a></li>
            <li><a href="javascript:void(0)" target="_blank" data-toggle="modal" data-target="#comingsoon">Reporting</a></li>
            <li><a href="javascript:void(0)" target="_blank" data-toggle="modal" data-target="#comingsoon">Default Rules</a></li>
            <li class="active"><a [routerLink]="['/']">$Money</a></li>

          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>
    </div>
    <div class="clearfix"></div>
  </div>
</header>

<!------end Header SECTION--->


<!------Body SECTION--->
<div class="adminmainwarpper addbannerlistwarpper">

  <div class="bannerlistblock">
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock0">
          <div class="bannermainblock" >
            <img src="../../assets/images/banner_logo1.png" class="bannermainblockimg">
            <a href="javascript:void(0)" class="bannermainblockbtn"><img src="../../assets/images/viewmore1.jpg"></a>
          </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo0">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(0)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock1">
        <div class="bannermainblock1" >
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock1img">
          <a href="javascript:void(0)" class="bannermainblock1btn"><img src="../../assets/images/viewmore9.jpg"></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo"  id="bannerlistsingleinfo1">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(1)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock2">
        <div class="bannermainblock2" style="background-image: url('../../assets/images/300-50_bg1.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock2img">
          <span  class="bannermainblock2txt">INDUSTRY-BASED<br/>
MARKETING</span>
          <a href="javascript:void(0)" class="bannermainblock2btn"><img src="../../assets/images/viewmore8.jpg"></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo2">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(2)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock3">
        <div class="bannermainblock3">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock3img">
          <img src="../../assets/images/300_50_img2.jpg" class="bannermainblock3img1">
          <a href="javascript:void(0)" class="bannermainblock3btn"><img src="../../assets/images/viewmore13.jpg"></a>
          <img src="../../assets/images/300_50_img1.jpg" class="bannermainblock3img2">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo3">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(3)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock4">
        <div class="bannermainblock4" style="background-image: url('../../assets/images/300-50_bg7.jpg'); background-size: cover; background-repeat: no-repeat;border: solid 2px #b4e20d;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock4img">
          <img src="../../assets/images/300_50_img4.jpg" class="bannermainblock4img1">
          <a href="javascript:void(0)" class="bannermainblock4btn"><img src="../../assets/images/viewmore14.png"></a>
          <img src="../../assets/images/300_50_img3.jpg" class="bannermainblock4img2">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo4">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(4)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock5">
        <div class="bannermainblock5">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock5img">
          <span class="bannermainblock5txt">DIRECT CONNECTIONS </span>
          <span class="bannermainblock5txt2">INDUSTRY-BASED <br/>
MARKETING</span>
          <a href="javascript:void(0)" class="bannermainblock5btn"><img src="../../assets/images/viewmore15.png"></a>
          <img src="../../assets/images/300_50_img3.jpg" class="bannermainblock5img2">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo5">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(5)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock6">
        <div class="bannermainblock6">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock6img">
          <span class="bannermainblock6txt">DIRECT CONNECTIONS </span>
          <a href="javascript:void(0)" class="bannermainblock6btn"><img src="../../assets/images/viewmore15.png"></a>
          <img src="../../assets/images/300_50_img3.jpg" class="bannermainblock6img2">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo6">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(6)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock7">
        <div class="bannermainblock7" style="background-image: url('../../assets/images/320-50_bg1.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock7img">
          <span class="bannermainblock7txt">GEO AI<br/>TECHNOLOGIES</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo7">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(7)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock8">
        <div class="bannermainblock8" style="background-image: url('../../assets/images/320-50_bg2.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock8img">
          <span class="bannermainblock8txt">GEO AI<br/>TECHNOLOGIES</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo8">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(8)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock9">
        <div class="bannermainblock9" style="background-image: url('../../assets/images/320-50_bg3.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock9img">
          <span class="bannermainblock9txt"><b>GEO AI</b><br/>TECHNOLOGIES</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo9">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(9)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock10">
        <div class="bannermainblock10" style="background-image: url('../../assets/images/320-50_bg4.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock10img">
          <span class="bannermainblock10txt"><b>GEO AI</b><br/>TECHNOLOGIES</span>
          <a href="javascript:void(0)" class="bannermainblock10btn">View More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo10">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(10)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock11">
        <div class="bannermainblock11" style="background-image: url('../../assets/images/320-50_bg5.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock11img">
          <span class="bannermainblock11txt"><b>GEO AI</b><br/>TECHNOLOGIES</span>
          <a href="javascript:void(0)" class="bannermainblock11btn">View More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo11">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(11)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock12">
        <div class="bannermainblock12" style="background-image: url('../../assets/images/320-50_bg6.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock12img">
          <span class="bannermainblock12txt"><b>GEO AI</b><br/>TECHNOLOGIES</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo12">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(12)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock13">
        <div class="bannermainblock13" style="background-image: url('../../assets/images/320-50_bg7.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock13img">
          <span class="bannermainblock13txt"><b>GEO AI</b><br/>TECHNOLOGIES</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo13">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(13)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock14">
        <div class="bannermainblock14" style="background-image: url('../../assets/images/320-50_bg8.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock14img">
          <span class="bannermainblock14txt"><b>GEO AI</b><br/>TECHNOLOGIES</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo14">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue" (click)="callduplicate(14)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock15">
        <div class="bannermainblock15" style="background-image: url('../../assets/images/320-50_bg9.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock15img">
          <span class="bannermainblock15txt"><b>GEO AI</b><br/>TECHNOLOGIES</span>
          <a href="javascript:void(0)" class="bannermainblock15btn">View More</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo15">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue"  (click)="callduplicate(15)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="row bannerlistblocksingle">
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleimage" id="bannermainblock16">
        <div class="bannermainblock16" style="background-image: url('../../assets/images/320-50_bg10.jpg'); background-repeat: no-repeat;">
          <img src="../../assets/images/banner_logo1.png" class="bannermainblock16img">
          <span class="bannermainblock16txt"><b>GEO AI</b><br/>TECHNOLOGIES</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsingleinfo" id="bannerlistsingleinfo16">
          <h2>My First Banner Design</h2>
      </div>
      <div class="col-md-4 col-sm-4 bannerlists bannerlistsinglebtnaction">
        <div class="btn-bannerlist text-center">
          <button type="button" class="btnblue"  (click)="callduplicate(16)">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
          </button>
          <button type="button" class="btnblue">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<!------End Body SECTION--->



<!------Footer SECTION--->

<footer class="footerdiv">
  <div class="footerlogodiv">
    <div class="logowrapper">
      <a [routerLink]="['/']"><img src="../../assets/images/geoaiadmin_logo.png"></a>
    </div>
    <div class="footercopyright text-center">
      <p>Copyright 2017 GeoAI Technologies, LLC. All Rights Reserved | <a href="javascript:void(0)" target="_blank" data-toggle="modal" data-target="#comingsoon">T & C</a></p>
    </div>
  </div>
</footer>

<!------End Footer SECTION--->


<div *ngIf="modalmapShown" class="modal fade mapwrapper" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="hi1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
          <div class="showbannerinmodalwrapper">
            <div class="bannerlists">
              <div id="showbannerinmodal">
              </div>
            </div>
            <div class="bannerlists">
              <div id="showhtmlinmodal">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>